body {
    background-color:rgb(185, 185, 185);
    background-image:url(aneis_da_olimpiadas.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size:inherit;
}

#titulo {
    text-align: center;
    font-family: "Comic Sans MS";
    font-size: 1.75em;
    color:rgb(153, 0, 255);
}

.subtitulo {
    text-align:center;
    font-family:serif;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    text-align: justify;
}

.div_box {
    /*position: relative;
    display: inline-block;*/
    float:inline-start;
    margin: 50px 50px 50px 50px;
}

.div_box_secundaria {
    display:block;
    position: "-webkit-sticky";
    background-color: #c9c6c6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.div_lista {
    float:left;
    margin-right: 10px;
    margin-bottom: 40px;
}

.div_paragrafo{    
    margin-right: 10px;
}

#div_cont_1 {
    position: center;
    display: flexbox;
}

#div_cont_2 {
    position: center;
    display: flexbox;
}

#lista_america_sul {
    font-family:cursive;
    font-size: 1em;
    color: red;
}

#lista_america_central {
    font-family:cursive;
    font-size: 1em;
    color: red;
}

#lista_america_norte {
    font-family:cursive;
    font-size: 1em;
    color: red;
}

#lista_africa {
    font-family:cursive;
    font-size: 1em;
    color: black;
}

#lista_oceania {
    font-family:cursive;
    font-size: 1em;
    color: green;
}

#lista_asia {
    font-family:cursive;
    font-size: 1em;
    color: yellow;
}

#lista_europa {
    font-family:cursive;
    font-size: 1em;
    color: rgb(0, 119, 255);
}

#antartica {
    font-family:cursive;
    font-size: 1em;
    color: rgb(255, 255, 255);
}
